@import 'variables';

#aboutpage{
  @include span-columns(12);

  .about-container{
    @include span-columns(12);
    padding: 150px 0 50px 0;
    position: absolute;
    top: 65px;
    z-index: 1;

    .about-content{
      @include span-columns(8);
      @include shift(2);

      .column{
        @include span-columns(7);

        &:first-of-type{
          @include span-columns(5);
        }
      }

      .headshot{
        background-image: url("../img/new_headshot_bw.jpg");
        background-size: cover;
        width: 350px;
        height: 520px;
        border-radius: 3px;
        opacity: none;
        animation-duration: 2.0s;
        box-shadow: 2px 2px 2px 2px #BABABA;
      }

      .about-block{
        @include span-columns(12);
        background: $orange;
        color: $white;
        padding: 35px;
        border-radius: 3px;
        animation-duration: 2.0s;
        box-shadow: 2px 2px 2px 2px #BABABA;
        height: 520px;
      }

      p{
        @include span-columns(12);
        font-size: 22px;
        margin: 0 0 30px 0;
        text-align: justify;
        font-family: 'Ravi Prakash', cursive;
      }

    }

    footer{
      @include span-columns(12);
      position: fixed;
      bottom: 0;
      padding: 5px 0 5px 0;
      background: linear-gradient(to right, $white, $teal);

      span{
        @include span-columns(6);
        font-size: 20px;
        padding-left: 25px;
        padding-top: 15px;
        color: $link-color;
      }

      nav{
        @include span-columns(6);

        a{
          @include span-columns(2);
          text-align: center;
          font-size: 36px;
          color: $link-color;

          &:hover{
            color: $link-hover-color;
          }

          &:first-of-type{
            @include shift(2);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px){

}
