@import 'variables';

#aboutpage{
  @include span-columns(12);

  .about-container{
    @include span-columns(12);
    padding: 150px 0 50px 0;
    position: absolute;
    top: 65px;
    z-index: 1;

    .about-content{
      @include span-columns(8);
      @include shift(2);

      .column{
        @include span-columns(7);

        &:first-of-type{
          @include span-columns(5);
        }
      }

      .headshot{
        background-image: url("../img/new_headshot_bw.jpg");
        background-size: cover;
        width: 350px;
        height: 520px;
        border-radius: 3px;
        opacity: none;
        animation-duration: 1.0s;
        box-shadow: 2px 2px 2px 2px #BABABA;
      }

      .about-block{
        @include span-columns(12);
        background: $orange;
        color: $white;
        padding: 35px;
        border-radius: 3px;
        animation-duration: 1.0s;
        box-shadow: 2px 2px 2px 2px #BABABA;
        height: 520px;
      }

      p{
        @include span-columns(12);
        font-size: 22px;
        margin: 0 0 30px 0;
        text-align: justify;
        // font-family: 'Ravi Prakash', cursive;
      }

    }

    footer{
      @include span-columns(12);
      position: fixed;
      bottom: 0;
      background: linear-gradient(to right, $white, $teal);

      span{
        @include span-columns(12);
        font-size: 16px;
        padding-left: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: $gray;
      }
    }
  }
}

@media screen and (max-width: 1650px){
  #aboutpage{
    .about-container{
      .about-content{
        @include span-columns(9);
        @include shift(1.5);
      }
    }
  }
}

@media screen and (max-width: 1440px){
  #aboutpage{
    .about-container{
      padding: 25px 0 50px 0;

      .about-content{
        @include span-columns(10);
        @include shift(1);
      }
    }
  }
}

@media screen and (max-width: 1291px){
  #aboutpage{
    .about-container{
      .about-content{
        @include span-columns(11);
        @include shift(.5);
      }
    }
  }
}

@media screen and (max-width: 1171px){
  #aboutpage{
    .about-container{
      padding: 100px 0 50px 0;

      .about-content{
        @include span-columns(11);
        @include shift(.5);

        .headshot{
          width: 370px;
          height: 600px;
        }

        .about-block{
          height: 600px;
        }
      }
    }
  }
}

@media screen and (max-width: 1007px){
  #aboutpage{
    .about-container{
      padding: 50px 0 50px 0;

      .about-content{
        @include span-columns(11);
        @include shift(.5);

        .column{
          @include span-columns(9);

          &:first-of-type{
            @include span-columns(3);
          }
        }

        .headshot{
          width: 170px;
          height: 250px;
        }

        .about-block{
          height: 660px;
        }
      }
    }
  }
}

@media screen and (max-width: 414px){
  #aboutpage{
    .about-container{
      padding: 50px 0 50px 0;

      .about-content{
        @include span-columns(11);
        @include shift(.5);

        .column{
          @include span-columns(12);

          &:first-of-type{
            @include span-columns(3);
            margin-bottom: 20px;
          }
        }

        .headshot{
          width: 380px;
          height: 300px;
          left: 0px;
        }

        .about-block{
          height: none;
          padding-bottom: 20px;
        }
      }

      footer{
        span{
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px){
  #aboutpage{
    .about-container{
      padding: 50px 0 50px 0;

      .about-content{
        @include span-columns(11);
        @include shift(.5);

        .column{
          @include span-columns(12);

          &:first-of-type{
            @include span-columns(3);
            margin-bottom: 20px;
          }
        }

        .headshot{
          width: 342px;
          height: 300px;
          left: 0px;
        }

        .about-block{
          // height: 1000px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px){
  #aboutpage{
    .about-container{
      padding: 50px 0 50px 0;

      .about-content{
        @include span-columns(11.5);
        @include shift(.25);

        .column{
          @include span-columns(12);

          &:first-of-type{
            @include span-columns(3);
            margin-bottom: 20px;
          }
        }

        .headshot{
          width: 305px;
          height: 300px;
          left: 0px;
        }

        .about-block{
          // height: 1200px;
        }
      }
    }
  }
}
