@import 'variables';

#resumepage{
  .resume-container{
    @include span-columns(12);
    padding: 25px 0 50px 0;
    margin-bottom: 25px;
    position: absolute;
    top: 65px;
    z-index: 1;
    overflow: scroll;

    .resume{
      @include span-columns(6);
      @include shift(3);
      background: $purple;
      color: $white;
      padding: 30px 20px 30px 20px;
      border-radius: 3px;
      animation-duration: 2.0s;

      #skills{
        @include span-columns(11);
        @include shift(.5);
        text-align: center;
        font-weight: 500;
        margin-bottom: 50px;
      }

      hr{
        @include span-columns(3);
        @include shift(4.5);
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .resume-block{
        @include span-columns(12);

        .resume-title{
          @include span-columns(7.8);
          @include omega(n);
          font-size: 20px;
          text-transform: uppercase;

          &:last-of-type{
            @include span-columns(3.8);
            text-align: right;
            text-transform: none;
          }
        }

        p{
          @include span-columns(11.70);
          text-align: right;
          margin: 0;
        }

        ul{
          @include span-columns(12);
          margin-bottom: 0;

          li{
            @include span-columns(12);
            margin-bottom: 5px;
          }
        }
      }
    }

    footer{
      @include span-columns(12);
      position: fixed;
      bottom: 0;
      padding: 15px 50px 5px 0;
      background: linear-gradient(to right, $white, $teal);
      text-align: right;

      a{
        font-size: 24px;
        text-decoration: none;
        color: $link-color;

        &:hover{
          color: $link-hover-color;
        }

        i{
          font-size: 36px;
        }
      }
    }
  }
}

@media screen and (max-width: 1680px){
  #resumepage{
    .resume-container{

      .resume{
        @include span-columns(7);
        @include shift(2.5);
      }
    }
  }
}

@media screen and (max-width: 1315px){
  #resumepage{
    .resume-container{

      .resume{
        @include span-columns(8);
        @include shift(2);
      }
    }
  }
}

@media screen and (max-width: 1150px){
  #resumepage{
    .resume-container{

      .resume{
        @include span-columns(9);
        @include shift(1.5);
      }
    }
  }
}

@media screen and (max-width: 1010px){
  #resumepage{
    .resume-container{

      .resume{
        @include span-columns(10);
        @include shift(1);
      }
    }
  }
}

@media screen and (max-width: 906px){
  #resumepage{
    .resume-container{

      .resume{
        @include span-columns(11);
        @include shift(.5);
      }
    }
  }
}

@media screen and (max-width: 825px){
  #resumepage{
    .resume-container{

      .resume{
        @include span-columns(11);
        @include shift(.5);
        padding: 30px 20px 30px 20px;

        #skills{
          @include span-columns(11);
          @include shift(.5);
          text-align: center;
          font-weight: 500;
          margin-bottom: 50px;
        }

        hr{
          @include span-columns(3);
          @include shift(4.5);
          margin-top: 15px;
          margin-bottom: 15px;
        }

        .resume-block{
          @include span-columns(12);

          .resume-title{
            @include span-columns(7.8);
            @include omega(n);
            font-size: 18px;
            text-transform: uppercase;

            &:last-of-type{
              @include span-columns(3.8);
              text-align: right;
              text-transform: none;
            }
          }

          p{
            @include span-columns(11.70);
            text-align: right;
            margin: 0;
            font-size: 16px;
          }

          ul{
            @include span-columns(12);
            margin-bottom: 0;

            li{
              @include span-columns(12);
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px){
  #resumepage{
    .resume-container{

      .resume{
        @include span-columns(11.5);
        @include shift(.25);
        padding: 30px 20px 30px 20px;

        #skills{
          @include span-columns(11.5);
          @include shift(.25);
          font-size: 14px;
          text-align: justify;
        }

        hr{
          @include span-columns(3);
          @include shift(4.5);
          margin-top: 15px;
          margin-bottom: 15px;
        }

        .resume-block{
          @include span-columns(12);

          .resume-title{
            @include span-columns(12);
            @include omega(n);
            font-size: 14px;
            text-align: center;
            font-weight: 500;

            &:last-of-type{
              @include span-columns(12);
              text-align: center;
              text-transform: none;
              font-weight: 300;
            }
          }

          p{
            @include span-columns(11.70);
            text-align: center;
            margin: 0;
            font-size: 12px;
          }

          ul{
            @include span-columns(12);
            margin-bottom: 0;
            padding-left: 0;
            text-align: justify;
            font-size: 12px;

            li{
              @include span-columns(12);
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
