$link-hover-color: #fff;
$gray: #323731;
$blue: #5186CA;
$orange: #FFAE7E;
$purple: #3E45A0;
$yellow: #7BBE3A;
$blue1: #76A3DD;
$blue2: #5186CA;
$blue3: #336DB7;
$blue4: #1152A6;
$teal: #46C9A7;
$green: #7BBE3A;
$white: #fff;
