@import "../../dist/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
  // $visual-grid: true;
@import "../../dist/bower_components/neat/app/assets/stylesheets/_neat.scss";
@import 'variables';
@import 'home';
@import 'about';
@import 'portfolio';
@import 'resume';
@import 'contact';



* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

#app{
  @include outer-container(100%);

  .background-image{
    @include span-columns(12);
    background-image: url("../img/mountain.svg");
    background-size: cover;
    height: 100vh;
    position: fixed;
    z-index: -10000;
    animation-duration: 1.75s;
  }

  .background-filter{
    @include span-columns(12);
    background: $white;
    opacity: .925;
    padding: 75px 0 50px 0;
    height: 100vh;
    border-radius: 5px;
    position: fixed;
    top: 0px;
    z-index: 1;
  }

  header{
    @include span-columns(12);
    background: linear-gradient(to right, $white, $teal);
    position: fixed;
    top: 0;
    z-index: 2;

    a{
      @include span-columns(6);
      text-decoration: none;
      color: $gray;

      .logo{
        @include shift(.75);
        background-image: url("../img/Jaselogo_2.png");
        background-size: cover;
        width: 40px;
        height: 40px;
        position: relative;
        top: 8px;
      }
    }

    .nav{
      @include span-columns(6);

      #slideout-nav{
        @include span-columns(12);
        padding: 0;
        animation-duration: 1.00s;

        a{
          font-size: 16px;
          color: $gray;
          padding: 0 25px 0 25px;
          display:inline-block;
          width:auto;
          float:none;

          &:hover{
            transition: all 0.35s;
            color: $link-hover-color;
          }

          &:first-of-type{
            @include shift(2);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1437px){
  #app{
    header{
      .nav{
        #slideout-nav{
          a{
            &:first-of-type{
              @include shift(.5);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1227px){
  #app{
    header{
      .nav{
        #slideout-nav{
          a{
            padding: 0 15px 0 15px;

            &:first-of-type{
              @include shift(1);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px){
  #app{
    header{
      .nav{
        #slideout-nav{
          a{
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1038px){
  #app{
    header{
      .nav{
        #slideout-nav{
          a{
            padding: 0 15px 0 15px;

            &:first-of-type{
              @include shift(0);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 940px){
  #app{
    header{
      a{
        @include span-columns(2);
      }
      .nav{
        @include span-columns(10);

        #slideout-nav{
          a{
            padding: 0 15px 0 15px;

            &:first-of-type{
              @include shift(2.8);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  #app{
    header{
      .nav{

        #slideout-nav{
          a{
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px){
  #app{
    header{
      a{
        @include span-columns(1.25);
      }
      .nav{
        @include span-columns(10.75);
        margin-top: 3px;

        #slideout-nav{
          a{
            font-size: 12px;
            padding: 0 2px 0 2px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px){
  #app{
    header{
      .nav{
        #slideout-nav{
          a{
            font-size: 11px;
            padding: 0 0px 0 0px;
          }
        }
      }
    }
  }
}
